/* Structure */
body {
    background-color: #d0cbc4;
    background-image: url(./images/gorgeous_brown_path.jpg);
    background-size: cover;
}

#full-page {
    background-color: rgba(149,123,105, 0.8);
    padding: 5px 10px;
    padding-bottom: 80%;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}
li {
    margin-bottom: 10px;
}

#content section {
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content section img {
    width: 80%;
    border-radius: 15px;
    padding: 1px;
    border: #1c1914 1px solid;
    margin: 5px;
    max-width: 500px;
    max-height: 300px;
}

#content section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15px;
    padding: 2px 5px;
    margin: 5px;
}

#content section p {
    display:block;
    font-size: 15px;
    margin: 10px;
}

#content section a:hover {
    background-color: #1c1914;
    color: white;
}

#mainfooter p {
    text-align: right;
}

/* Gallery */
#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#gallery section {
    background: rgba(177,164,141, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
#gallery section h3 {
    text-align: center;
    margin: 5px;
}
#gallery hr {
    width: 90%;
    border-color: #1c1914;
}
/* Typography */
body {
    font-family: 'Garamond', serif;
    font-size: 20px;
    color:#1c1914;
}
.List_Format {
    font-family: 'Garamond', serif;
    font-size: 20px;
    color:#1c1914;
}

/* Tables */


/* Navigation */
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
}

#main-nav a {
    text-decoration: none;
    color: rgb(93, 49, 22);
    font-weight: bold;
    background-color: #957b69;
    border-radius: 15px;
    padding: 2px 5px;
}

/* Larger devices */
@media (min-width: 768px) { /* This overrides the mobile styles for larger devices */
    .columns {
        display: flex;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    #gallery section {
        background: rgba(177,164,141, 0.5);
        padding: 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #gallery section h3 {
        text-align: center;
        margin: 5px;
    }
    #gallery hr {
        width: 90%;
        border-color: #1c1914;
    }

    /* Flexbox children */
    .one {
        flex: 1; /* This splits the space equally among all flex items */
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }

    /* Navigation */
    #main-nav ul {
        display: flex;
    }
    
    #main-nav li {
        background: transparent;
    }
    
    #main-nav a {
        color: #F3F4F4;
    }
    #main-nav a:hover {
        color: black;
        border-bottom: 2px solid black;
    }

    /* Main Strcuture */
    

}