/* Structure */
body {
    background-color: #d0cbc4;
    background-image: url(./images/gorgeous_brown_path.jpg);
}

#full-page {
    background-color: rgba(149,123,105, 0.8);
    padding: 5px 10px;
    padding-bottom: 80%;
    width: 75%;
    margin: auto;
    border-radius: 15px;
}
a {
    text-decoration: none;
    color: rgb(93, 49, 22);
    font-weight: bold;
    background-color: #957b69;
    border-radius: 15px;
    padding: 2px 5px;
}
li {
    margin-bottom: 10px;
}
/* Typography */
body {
    font-family: 'Garamond', serif;
    font-size: 20px;
    color:#1c1914;
}

/* Tables */


/* Navigation */
a:hover {
    color: #0b1c2d;
}