/* Main Structure*/
body {
    background-color: #F7F5F2;
}
#triangle-up {
    width: 0;
    height: 0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:100px solid #5A3E2B;
    align-self: center;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
#triangle-container {
    cursor: pointer;
}
#triangle-up.visible {
    opacity:1;
}
#party {
    cursor: pointer;
}

/* Gallery */
#gallery {
    display:grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-left: 1em;
    margin-right: 1em;
}

#gallery section {
    background-color: #E8D5B7;
    padding:2em;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    gap: 5em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border:#2F2F2F 1px solid;
    border-radius: 5px;
}

#date-container {
    justify-content: center;
    align-items: center;
}
#gato{
    max-width: 15em;
    height:auto;
    width: 100%;
    cursor: pointer;
}
.img-style {
    transition: border 0.2s;
    border: 5px solid transparent;
}
.border-active {
    border-top: 5px solid red;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid yellow;
}
#display-date {
    text-align: center;
}

/* Typology */
h1 {
    text-align: center;
    color: #2F2F2F;

}
h3 {
    text-align: center;
    font-size: 20px;
    color: #2F2F2F;
}
#gallery section h3 {
    margin:0;
}


/* Larger Devices */
@media (min-width: 768px) {
    .columns {
        flex-direction: row;
    }

    /* Flexbox children */
    .one {
        flex: 1; /* This splits the space equally among all flex items */
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }

    /* Gallery */
    #gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

}