/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #221e22;
}
#mainheader {
    width: 100%;
    margin: 0;
    padding: 0;
}
#mainheader h1 {
    text-align: center;
    color: #f5f5f0;
}
#content h2 {
    color:#f5f5f0;
}

#secondContent section{
    display: flex;
    flex-direction: row;
    background-color: #f5f5f0;
    margin-bottom: 10px;
}
/* update this */
#even {
    background-color: #4e3102;
}
#secondContent img {
    display: block;
    width: 200px;
    height: 200px;
}
#secondContent main {
    display: block;
    padding: 5px;
}
#secondContent main h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}
#secondContent main p {
    margin-top: 5px;
    margin-bottom: 0px;
}
#secondContent section main img {
    display: block;
    width: 200px;
    height: 200px;
}
#mainfooter {
    background-color:antiquewhite;
    padding: 10px;
}
#mainfooter p {
    text-align: center;
}

/* Gallery */
#gallery {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
#gallery h3 {
    text-align: center;
    margin:0px;
    padding: 10px;
    background-color: #0a0a0a;
}
#gallery img {
    display:block;
    margin: auto;
    margin-bottom: 10px;
}

/* Navigation */
#main-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}
#main-nav li {
    background-color: #F3F4F4;
    padding: 5px;
    border-bottom: 1px solid black;
    display:flex;
}
#main-nav a {
    text-decoration: none;
    margin: auto;
}
#main-nav li:hover {
    background-color: #D9E4E5;
    border: 1px solid black;
}

/* Typography */


/* Larger Screens */
@media (min-width: 768px) { /* This overrides the mobile styles for larger devices */
    .columns {
        display: flex;
    }

    /* Flexbox children */
    .one {
        flex: 1; /* This splits the space equally among all flex items */
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }
    .five {
        flex: 5;
    }

    /* Main Structure */
    #content {
        display: flex;
    }

    #content h2 {
        display: block;
    }
    #gallery {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
    }
    #gallery section {
        margin: 1px;
    }
    #gallery h3 {
        text-align: center;
        margin:0px;
        padding: 5px;
        background-color: aqua;
    }
    #gallery img {
        display:block;
        margin: auto;
        margin-bottom: 10px;
        width: 80%;
    }

    /* Navigation */
    #main-nav ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        flex-direction: row;
    }
    #main-nav li {
        background-color: #F3F4F4;
        padding: 5px;
        border: 1px solid black;
        display: flex;
    }
    #main-nav a {
        margin: auto;
        text-decoration: none;
    }
    #main-nav li:hover {
        background-color: #D9E4E5;
        border: 1px solid black;
    }

    /* Gallery */
    #gallery {
        flex-direction: row;
    }
}