/* Structure */

/* Exercise Section */
#triangle-div {
    width: 0;
    height: 0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:100px solid #5A3E2B;
    align-self: center;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

/* Typology */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}