/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F4F4;
}

#main-content {
    background-color: #5F9598;
    width: 80%;
    margin: auto;
    padding: 0; /* Top/Bottom | Left/Right */
}

#main-header {
    background-color: #1D546D;
    margin: auto;
    padding: 0; /* Top/Bottom | Left/Right */
}

#content {

}

#main-footer {

}

/* Gallery */
#gallery section {
    background: #1D546D;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#gallery section h3 {
    text-align: center;
}

/* Navigation */
#main-nav ul {
    padding-left: 0; /* Removes the default padding on the ul */
}

#main-nav li { /* This calles the list items inside the nav */
    list-style-type: none; /* Removes the bullets */
    background-color: #F3F4F4;
    padding: 5px;
    border-bottom: 1px solid black;
}

#main-nav a {
    text-decoration: none; /* Removes the underline from links */
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding: 20px 0px;
}

/* Larger devices */
@media (min-width: 768px) { /* This overrides the mobile styles for larger devices */
    .columns {
        display: flex;
    }

    /* Flexbox children */
    .one {
        flex: 1; /* This splits the space equally among all flex items */
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }


    #main-nav ul {
        display: flex;
    }
    
    #main-nav li {
        background: transparent;
    }
    
    #main-nav a {
        color: #F3F4F4;
    }
    #main-nav a:hover {
        color: black;
        border-bottom: 2px solid black;
    }

}

/* 
Notes:
1.) YOU ALWAYS DESIGN FOR MOBILE FIRST
2.) images are not block elements by default, so you need to set a div around them to use flexbox
3.) 

*/